/Job In Progress Cost Detail as of 6-30-22 unsorted with header.xlsx
/Job Profitability Report as of 6-30-2022.xlsx
/Sample jc report.xlsx
processed/Job In Progress Cost Detail as of 6-30-22 unsorted with header_processed.xlsx
Job Actual Revenue Detail asof 6-30-2022.xlsx
Revenue Detail asof 6-30-2022.xlsx
.gitignore
eva_total.xlsx
*.pyc
processed/eva_total_processed.xlsx
2Q EVA Total.xlsx
processed/2Q EVA Total_processed.xlsx
processed/2Q EvA Total File 9-14-2022_processed.xlsx
2Q EvA Total File 9-14-2022.xlsx
3Q2022 JC Reports_processed.xlsx
3Q2022 JC Reports.xlsx
processed/wip_processed.xlsx
